            /* Animation */  
#arrowAnim {
    animation: fadeIn 2s infinite linear alternate;
    text-align: center;
    vertical-align: bottom
}   

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


                    /* Overall + ID's */

body {
    background-color: #1c0f09
        
}

label {
    font-family: "Courier Prime";
    font-weight: 700;
    font-size: 24px; 
    color: #2a0f0d;
}


.spaceclass {
    margin: 40px;
}


#jpg-butt:hover {
    color: #1c0f09;    
}

.line {
    border-top: 20px solid #663707;
    width: 100%
}

#right-header{
    text-align: left;
    display: block;
}

#right-block{
    text-align: left;
    display: block;
}

#middle {
    vertical-align: middle;
}

#smalltext {
    height:30px;
    width:375px;
    font-size:14pt;
    border: 5px solid #1c0f09;
    margin-top: 7px
}

#textarea {
    height:50px;
    width:375px;
    font-size:14pt;
    border: 5px solid #1c0f09;
    margin-top: 7px
}

#smalldrop {
    height:40px;
    width:375px;
    font-size:14pt;
    border: 5px solid #1c0f09;
    margin-top: 7px
}

#padded {
    padding: 20px
}


                                    /* Image container */
.img-container {
    border: 20px solid #2a0f0d;
    position: relative;
    text-align: center;
    vertical-align: bottom;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    vertical-align: bottom;
}
    

                                    /* Sections */
.wood-section {
    text-align: center;
    background-image: url("wood.jpg");
    background-size: 100%;
    padding: 50px;
}

.brown-section {
    text-align: center;
    background-color: #2a0f0d;
    background-size: 100%;
    padding: 20px;
}

.tiled-section {
    text-align: center;
    background-color: #2a0f0d;
    background-image: url("arabesque.png");
    padding: 20px;
}


.footer {
    text-align: left;
    background-color: #2a0f0d;
    background-size: 100%;
    padding: 50px;
    vertical-align: middle;
}

                                    /* Blocks */
.page-header {
    text-align: center;
    padding: 40px;   
}

.cat-header {
    text-align: left;
    padding: 40px;   
}

.cont-block {
    text-align: left;
    background-color: #c99866;
    padding: 10px;
    border: 5px solid #2a0f0d;
    width: 400px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
}
    
.content-block {
    text-align: center;
    background-color: #2a0f0d;
    padding: 10px;
    vertical-align: middle;
}

.text-block {
    text-align: left;
    background-color: #c99866;
    padding: 10px;
}

.menu-block {
    text-align: left;
    background-color: #c99866;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 333px;
    margin: 10px
}

.gal-block {
    text-align: left;
    background-color: #663707;
    border: 8px solid #2a0f0d;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 295px;
    margin: 10px
}

.menu-image {
    text-align: center;
    background-color: #c99866;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: 333px;
    margin: 10px;
    vertical-align: top;  
}

.daily-block {
    text-align: center;
    background-color: #663707;
    padding: 10px
}

.dark-block {
    text-align: center;
    background-color: #1c0f09;
    padding: 10px;
    vertical-align: middle;
}

                                /* Text types */
h1 {
    background-color: #2a0f0d;
    padding: 7px;
    font-family: "UnifrakturCook";
    font-size: 55px;
    color: #c99866;
    display: inline-block;
    margin: auto
}

h2 {
    text-align: center;
    padding: 7px;
    font-family: "UnifrakturCook";
    font-size: 45px;
    color: #2a0f0d;
    margin: auto
}

h3 {
    text-align: center;
    padding: 7px;
    font-family: "UnifrakturCook";
    font-size: 45px;
    color: #c99866;
    margin: auto;
    transition: color 0.5s
}

h4 {
    background-color: #1c0f09;
    padding: 7px;
    font-family: "UnifrakturCook";
    font-size: 49px;
    color: #c99866;
    display: inline-block;
    margin: auto
}

p {
    padding: 7px;
    font-family: "Courier Prime";
    font-size: 20px;
    color: #2a0f0d;
    margin: auto
}

.daily {
    padding: 7px;
    font-family: "Courier Prime";
    font-size: 22px;
    color: #c99866;
    margin: auto
} 

.whitebox {
    padding: 10px;
    font-family: "UnifrakturCook";
    font-size: 50px;
    color: #ffffff;
    margin: auto;
    border: 3px solid #ffffff;
    transition: background-color 0.5s, color 0.5s;
} 

.whitebox:hover { 
    border: 3px solid #ffffff;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 50%);
    
} 

.menuitem {
    font-family: "Courier Prime";
    font-weight: 700;
    font-size: 24px
} 

.caption {
    font-family: "Courier Prime";
    font-weight: 700;
    font-size: 24px;
    color: #c99866;
} 



                                /* Buttons */
.button {
    background-color: #2a0f0d;
    display: inline-block;
    border: 3px solid #c99866;
    font-size: 45px;
    color: #c99866;
    font-family: "UnifrakturCook";
    padding: 7px;
    text-align: center;
    width: 18%;
    transition: background-color 1s, color 1s;
    
}

.button:hover { 
    border: 3px solid #c99866;
    background-color: #663707;
    
} 

.backtop {
    background-color: #2a0f0d;
    display: inline-block;
    border: 3px solid #c99866;
    font-size: 45px;
    color: #c99866;
    font-family: "UnifrakturCook";
    padding: 7px;
    text-align: center;
    transition: background-color 0.6s, color 0.6s;
} 

.backtop:hover { 
    border: 3px solid #c99866;
    background-color: #c99866;
    color: #2a0f0d
 
} 